.header__lang-link {
   font-size: 18px;
   line-height: 1.11;
   color: #fff;
   text-decoration: none;
}

@media (min-width: 768px) {
   .header__lang-link {
      font-size: 24px;
      line-height: 1.17;
   }
}