.place__title {
   margin: 0 16px;
   font-size: 32px;
   line-height: 1.09;
   font-weight: 900;
   grid-area: title;
}

@media (min-width: 768px) {
   .place__title {
      font-size: 42px;
      line-height: 1.1;
      padding-right: 10px;
      margin: 0;
   }
}

@media (min-width: 1024px) {
   .place__title {
      font-size: 72px;
      line-height: 1.06;
   }
}