.photo-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
   gap: 12px;
   margin-bottom: 64px;
}

@media (min-width: 768px) {
   .photo-grid {
      gap: 16px;
      margin-bottom: 88px;
   }
}

@media (min-width: 1024px) {
   .photo-grid {
      gap: 14px;
      margin-bottom: 92px;
   }
}

@media (min-width: 1280px) {
   .photo-grid {
      gap: 16px;
   }
}