.photo-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
   gap: 12px;
   margin-bottom: 64px;
}

@media (min-width: 768px) {
   .photo-grid {
      gap: 16px;
      margin-bottom: 88px;
      max-width: 928px;
   }
}
@media (min-width: 982px) {
   .photo-grid {
      margin: 0 auto 88px;
   }
}

@media (min-width: 1024px) {
   .photo-grid {
      gap: 14px;
      margin: 0 48px 92px;
      max-width: 1184px;
   }
}

@media (min-width: 1280px) {
   .photo-grid {
      grid-template-columns: repeat(4, 284px);
      gap: 16px;
      margin-left: auto;
      margin-right: auto;
   }
}