.cover__subtitle {
   font-weight: normal;
   font-size: 14px;
   line-height: 1.14;
   text-align: center;
   margin: 0;
   white-space: pre-line;
}
@media (min-width: 768px) {
   .cover__subtitle {
   font-size: 18px;
   line-height: 1.22;
   }
}