.header {
   margin-top: 16px;
   padding: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@media (min-width: 768px) {
   .header {
      margin-top: 28px;
   }
}

@media (min-width: 1280px) {
   .header {
   margin-left: auto;
   margin-right: auto;
   max-width: 1184px;
   }
}