.place__paragraph_text {
   font-weight: normal;
   font-size: 16px;
   line-height: 163%;
   margin: 0 0 25px;
}
.place__paragraph_text:last-child {
   margin-bottom: 0;
}

@media (min-width: 1024px) {
   .place__paragraph_text {
      font-size: 18px;
      margin-bottom: 26px;
   }
}