.footer__link {
   color: inherit;
   font-weight: normal;
   font-size: 24px;
   line-height: 1;
   text-decoration: none;
   transition: opacity 0.5s linear;
}

.footer__link:hover {
   opacity: 0.8;
}

@media (min-width: 768px) {
   .footer__link {
      font-size: 16px;
      line-height: 1.12;
   }
}