.footer__links {
   display: flex;
   flex-direction: column;
   justify-content: start;
   margin: 0;
   padding: 0;
   list-style: none;
   row-gap: 32px;
}

@media (min-width: 768px) {
   .footer__links {
   flex-direction: row;
   column-gap: 18px;
   }
}