.lead__subtitle {
   margin: 0 auto 39px;
   max-width: 288px;
   padding: 0;
   font-size: 16px;
   font-weight: normal;
   line-height: 1.25;
   text-align: center;
   white-space: pre-line;
}

@media (min-width: 768px) {
   .lead__subtitle {
      max-width: 640px;
      margin-bottom: 56px;
      font-size: 30px;
      line-height: 1.2;
   }
}

@media (min-width: 1280px) {
   .lead__subtitle {
      margin-bottom: 64px;
   }
}