.cover {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 290px;
}

@media (min-width: 768px) {
   .cover {
   min-height: 620px;
   }
}

@media (min-width: 1024px) {
   .cover {
   min-height: 780px;
   }
}

@media (min-width: 1280px) {
   .cover {
   min-height: 880px;
   }
}