.cover__title {
   font-weight: 900;
   font-size: 32px;
   line-height: 1.09;
   text-align: center;
   margin: 0 auto 16px;
   max-width: 288px;
}

@media (min-width: 768px) {
   .cover__title {
   font-size: 72px;
   line-height: 1.06;
   margin-bottom: 32px;
   max-width: 560px;
   }
}