.footer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   margin: 0 0 24px 16px;
   min-height: 310px;
}

@media (min-width: 768px) {
   .footer {
   flex-direction: row;
   align-items: flex-end;
   margin: 24px;
   min-height: 18px;
   }
}

@media (min-width: 1024px) {
   .footer {
   margin-left: auto;
   margin-right: auto;
   padding-left: 48px;
   padding-right: 48px;
   min-width: 928px;
   max-width: 1184px;
   }
}

@media (min-width: 1184px) {
   .footer {
      margin-left: auto;
      margin-right: auto;
      max-width: 1184px;
   }
}